.layout-container {
  margin-left: 200px;
  transition: all .2s;

  .layout-sider {
    overflow: hidden;

    .ant-layout-sider-children {
      padding-right: 200px;
      overflow: auto;
    }
  }
}

.layout-container-collapsed {
  margin-left: 64px;
  transition: all .2s;
}

.layout-right {
  min-height: 100vh;
  position: relative;
}

.layout-content {
  padding: 62px 20% 70px 28px;
  height: 200px;
  overflow: scroll;
  width: 120%;
  position: relative;
  right: 14px;
}