.setting-help {
  .ant-collapse-header {
    font-size: 14px;
    background: #f7f7f7;
  }

  .ant-collapse-content-box {
    padding-left: 16px;
    line-height: 28px;
    font-size: 13px;

    h6 {
      font-size: 13px;
    }
  }
}