.layout-sider {
  height: 100vh;
  position: fixed;
  left: 0;
  background: #2d2d2d;
  z-index: 100;

  .ant-layout-sider-children {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    -moz-box-sizing: content-box; /* Firefox */
    -webkit-box-sizing: content-box; /* Safari */
  }

  .nav-logo{
    height: 80px;
    line-height: 78px;
    text-align: center;
    background-color: #242424;
    position: relative;
    overflow: hidden;

    img{
      height: 46px;
      display: inline-block;
      position: relative;
      top: 18px;
    }

    h1{
      color: #ffffff;
      font-size: 15px;
      display: inline-block;
      padding: 0 8px 0 2px;
      font-weight: normal;
      margin: 0;
    }
  }

  .ant-menu-item, .ant-menu-submenu-title {
    font-size: 13px;
  }

  .ant-menu-inline.ant-menu-sub {
    background-color: #242424;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.45) inset;
    box-shadow: 0 2px 8px rgba(0,0,0,0.45) inset;
  }

  ul {
    background: #2d2d2d;
    padding-bottom: 48px;
  }

  .ant-layout-sider-trigger {
    transition: all .2s;
  }
}
